/* Default styles for all screen sizes */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #8b70e9;
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.crystal-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    justify-items: center;
}

.crystal {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.crystal img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.view-details-button {
    background-color: #8b70e9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* Media query for smaller screens (e.g., tablets) */
@media screen and (max-width: 768px) {
    .header {
        padding: 10px;
        font-size: 18px;
    }

    .container {
        padding: 10px;
    }

    .crystal {
        padding: 10px;
    }
}

/* Media query for even smaller screens (e.g., smartphones) */
@media screen and (max-width: 480px) {
    .header {
        padding: 10px;
        font-size: 16px;
    }

    .container {
        padding: 5px;
    }

    .crystal {
        padding: 5px;
    }

    .crystal img {
        margin-bottom: 5px;
    }

    .view-details-button {
        padding: 8px 15px;
    }
}
